<a [routerLink] = "['/']">首页</a>
<a [routerLink] = "['/user']">用户</a>

<a [routerLink] = "[{outlets: {primary: 'home', aux: 'cosult'}}]">展示辅助路由</a>
<a [routerLink] = "[{outlets: {aux: null}}]">隐藏辅助路由</a>
<router-outlet></router-outlet>
<router-outlet name = "aux" ></router-outlet>
