<div>父组件：</div>
<div>
  问候语： <input type="text" [(ngModel)] = "greeting"/>
</div>
<div>
  姓名： <input type="text" [(ngModel)] = "user.name"/>
</div>

<app-child-component [greeting] = "greeting" [user] = "user" ></app-child-component>

<router-outlet></router-outlet>
